body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Trebuchet MS, sans-serif;
    background: url(asset/wallhaven-x6jy1v_1920x1080.png) no-repeat;
    background-position: center;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 350px;
    background: transparent;
    border: 1px solid white;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

h1 {
    margin: 40px 0px 20px;
    color: white;
}

.login-section input {
    width: 250px;
    height: 40px;
    background: transparent;
    margin: 15px 0px;
    border: 1px solid white;
    color: white;
    font-size:15px ;
    outline: none;
    border-radius: 20px;
    padding-left: 20px ;
  
   



}


input::placeholder {
    color: white;
 

}


.username i {
    position: absolute;
    left: 12px;
    top: 36%;
    color: #ffff;
}

.password i {

    position: absolute;
    top: 57%;
    left: 12px;
    color: #ffff;
}


.btn {
    width: 50opx;
    height: 8vh;
    display: flex;
    justify-content: center;
    margin-top: 15px;



}

button {
    width: 100px;
    height: 40px;
    border: 1px solid white;
    color: white;
    outline: none;
    background-color: transparent;
    border-radius: 10px;


}

.btn :hover {
    cursor: pointer;
    background-color: white;
    color: black;

}